#root {
  min-width: 375px;
  min-height: 100vh;
  margin: 0 auto;

  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
}

.main-content {
  justify-content: center;
  margin: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
